<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @this.RenderSection("Styles", required: false)
</head>
<body class="@(this.ViewBag.BodyClass)">

    <header class="header">
        <h1>
            <a href="/">
                LukeVo.Faith
            </a>
        </h1>

        <a href="@this.Url.Action("StatementOfFaith", "Home")">
            Statement of Faith
        </a>
    </header>

    @this.RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        var refTagger = {
            settings: {
                bibleVersion: "NIV"
            }
        };
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = "//api.reftagger.com/v2/RefTagger.js";
            s.parentNode.insertBefore(g, s);
        }(document, "script"));
    </script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
